<%- include("partials/header") %>
<div class="container">
  <header>
    <div class="jumbotron">
      <h1>Welcome to Landing Page</h1>
      <p>
        <a href="/campgrounds" class="btn btn-info btn-lg">View All campgrounds</a>
      </p>
    </div>
  </header>
</div>

<%- include("partials/footer") %>